<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675803530607-p7dpkujfi5g33rcfsmr16qfsmtghmmcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675803530607-p7dpkujfi5g33rcfsmr16qfsmtghmmcn</string>
	<key>API_KEY</key>
	<string>AIzaSyC_Hcm3AqdTWkhu7joj5JFes1TnGpoBef0</string>
	<key>GCM_SENDER_ID</key>
	<string>675803530607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jakeruthmusic.PracticePerfectMobile1</string>
	<key>PROJECT_ID</key>
	<string>practiceperfectswift</string>
	<key>STORAGE_BUCKET</key>
	<string>practiceperfectswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675803530607:ios:d79a81df7d6e4da05dd49a</string>
	<key>DATABASE_URL</key>
	<string>https://practiceperfectswift.firebaseio.com</string>
</dict>
</plist>